@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 100%;
    background-color: #000;
    animation: no-scroll 1s ease-out 1;
}

#navbar{
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    color: #FFF;
    background-color: rgb(59, 24, 24);
}
#navbar a{
    width: auto;
    height: auto;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 15px 25px;
}
#navbar a:hover{
    background-color: rgb(207, 90, 90);
    color: #000;
 }
#main_section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #000;
}

#welcome-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    color: #FFF;
    z-index: 90;
    text-align: center;
    line-height: 1.6;
}
#intro{
    position: relative;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgb(85, 85, 85);
}

#projects, #social{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 91;
}

#projects{
    background-color: rgb(85, 85, 85);
}
#project-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 2rem;
    justify-items: center;
    margin-block: 50px;
}
.project-title{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: auto;
    box-shadow: 5px 3px 3px 0 rgba(255, 255, 255, 0.6);
    background-color: rgb(150, 39, 27);
    border-radius: 25px;
    border: 3px solid #000;
    margin: 25px 50px;
    overflow: hidden;
}
.project-title h3{
    width: auto;
    height: auto;
    padding: 20px;
    margin: auto;
    text-align: center;
    color: #fff;
}
.project-title img{
    position: relative;
    width: 100%;
    height: 100%;
}
#social{
    padding-block: 20px;
}
#social_title{
    position: relative;
    width: auto;
    margin-block: 20px;
    text-align: center;
    font-weight: 800;
    text-shadow: 5px 3px rgb(59, 24, 24);
    color: #FFF;
}
#social_list{
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    margin-block: 30px;
    list-style: none;
}
#social_list > li {
    margin-right: 50px;
    margin-top: 25px;
}
#social_list a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.6rem;
}
.logo_img{
    width: auto;
    height: 100%;
    max-height: 25px;
} 
/* css logo animation */
#logo_animation{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: -1;
    opacity: 0;
    animation: animate-appear 1s ease-out 1; 
    overflow: hidden;
    top: 0;
}
.logo_line{
    position: absolute;
    width: 3px;
    height: 20vh;
    background-color: #FFF;
    border-radius: 100px;
    animation: animate-appear 1s ease-in 1,
    logo_lines 400ms ease-out 1;
    top: 40vh;
    overflow: hidden;
}
#line_blue{
    position: absolute;
    left: 47.2vw;
    box-shadow: 0 0 10px 5px rgba(0,0,255,0.5);
}
#line_red{
    position: absolute;
    left: 46.5vw;
    box-shadow: 0 0 10px 5px rgba(255,0,0,0.5);
}
.line_white{
    position: absolute;
    width: 3px;
    height: 14vh;
    background-color: #FFF;
    border-radius: 100px;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
    overflow: hidden;
}
#line_white_bottom{
    top: 47.5vh;
    left: 52vw;
    transform: rotate(-40deg);
    animation: animate-appear 1s ease-out 1,
    line_white_bottom 400ms ease-out 1;
}
#line_white_top{
    top: 38.1vh;
    left: 50.5vw;
    transform: rotate(45deg);
    animation: animate-appear 1s ease-out 1,
    line_white_top 400ms ease-out 1;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    font-weight: 400;
    line-height: 1.3;
  }
  
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.9rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.3rem;
}
h6{
    font-size: 1rem;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p, ul, li{
    font-size: 1em;
} 


  /* css animations */
@keyframes logo_lines{
    0%{
        top: -40vh;
    }
    100%{
        top: 40vh;
    }
}
@keyframes line_white_bottom{
    0%{
        opacity: 1;
        top: 100vh;
        left: 75vw;
    }
    100%{
        opacity: 1;
        top: 47.5vh;
        left: 52vw;
    }
}
@keyframes line_white_top{
    0%{
        opacity: 1;
        top: -38vh;
        left: 93vw;
    }
    100%{
        opacity: 1;
        top: 38vh;
        left: 50.5vw;
    }
}
@keyframes animate-appear{
    0%{
        z-index: 100;
        opacity: 1;
    }
    50%{
        z-index: 100;
        opacity: 1;
    }
    100%{
        z-index: 100;
        opacity: 0;
    }
}
@keyframes no-scroll {
    from, to { overflow: hidden; } 
  }

@media(max-width: 800px){
    #project-container{
        grid-template-columns: 1fr;
    }
    #navbar{
        justify-content: center;
    }
}
@media(max-width: 600px){
    #social_list{
        flex-direction: column;
    }
}