body {
    margin: 0;
    padding: 0;
    background: transparent url("images/jb-desktop-bg.png") repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

header {
    position: relative;
    width: 60%;
    height: auto;
    background-color: #e8143c;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    margin: auto;
    top: 15px;
}

h1{
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 800;
    padding: 10px;
    margin: 10px;
}

header > p{
    text-align: center;
    font-size: 1em;
    padding: 10px;
    margin: 10px;
}

#survey-form {
    position: relative;
    height: auto;
    width: 60%;
    margin: 50px auto;
    background-color: #e8143c;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px;
}

.form-group {
    position: inherit;
    height: auto;
    width: auto;
    padding: 20px;
}

label {
    font-size: 1em;
    margin-top: 10px;
}
#personal-info {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

#personal-info input{
    display: block;
    width: auto;
    height: 20px;
    margin: 5px 0;
    border: 3px solid hsla(349, 78%, 51%, 0.89);
    border-radius: 7px;
    padding: 10px 0 10px 10px;
    font-size: 1.0em;
}


#personal-info input:focus
, #dropdown:focus, #more-comment:focus{
    outline: none;
    border-color: #be647f;
    box-shadow: 0 0 15px #ff94b4;
    /* border: 3px solid hsla(342, 69%, 24%, 0.993); */
}

#personal-info input:focus + label  {
    text-shadow: 2px 2px 3px #000;
    font-weight: 500;
}

#name-label {
    order: 1;
}
#name{
    order: 2;
}
#email-label {
    order: 3;
}
#email {
    order: 4;
}
#number-label {
    order: 5;
}
#number{
    order: 6;
}
#survey-frequency{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

#dropdown {
    display: block;
    order: 2;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    border: 3px solid hsla(349, 78%, 51%, 0.89);
    border-radius: 7px;
    padding: 10px 0 10px 10px;
    font-size: 1em;
    color:#000;
}
#survey-frequency #frequency-label{
    order: 1;
    padding: 0;
    margin: 0;
}


#dropdown:focus ~ p {
    text-shadow: 2px 2px 3px #000;
    font-weight: 500;
}
#survey-radio-btn, #survey-checkbox{
    position: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#survey-radio-btn > p, #survey-checkbox > p{
    display: grid;
    grid-column: 1/3;
    width: auto;
    
}
#survey-radio-btn > label, #survey-checkbox > label{
    position: relative;
    width: fit-content;
    height: 20px;
    font-size: clamp(0.5rem, 1em, 2rem);
    text-transform: capitalize;
    padding-left: 50px;
    padding-top: 1.5px;
    cursor: pointer;
}

#survey-radio-btn .companion {
    position: absolute;
    opacity: 0;
    height: auto;
    width: auto;
}

#survey-radio-btn .checkmark {
    position: absolute;
    top: 0;
    left: 25px;
    height: 20px;
    width: 20px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    transition: 0.2s ease;
    cursor: pointer;
}

#survey-radio-btn .checkmark:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
    background-color: #f7c214;
    transition: 0.2s ease;
}

#survey-radio-btn > label:hover > .checkmark{
    background-color: #d3aaaa;
    transform: scale(1.1);
    border: 1px solid #ff0022c4;
}
#survey-radio-btn .companion ~ .checkmark:hover{
    background-color: #d3aaaa;
    transform: scale(1.1);
    border: 1px solid #ff0022c4;
}

#survey-radio-btn .companion:checked ~ .checkmark {
    background-color:#FFF;
    transform: scale(1);
    border: none;
}

#survey-radio-btn .companion:checked ~ .checkmark:after{
    opacity: 1;
    background-color: #f7c214;

}

#survey-checkbox input{
    position: absolute;
    appearance: none;
    background-color: #fff;
    left: 25px;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 0.25em;
    transition: 0.2s ease;
    cursor: pointer;
}
#survey-checkbox input:before{
    position: absolute;
    opacity: 0;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #f7c214;
    border-radius: 0.25em;
    margin: 0;
    padding: 0;
    top: 2.5px;
    left: 2.5px;
    transition: 100ms ease;
    cursor: pointer;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

}
#survey-checkbox input:hover{
    background-color: #d3aaaa;
    border: 1px solid #ff0022c4;
    border-radius: 0.25em;
    transform: scale(1.1);
}

#survey-checkbox input:checked:before{
    opacity: 1;
}
#survey-checkbox input:checked:hover{
    background-color: #FFF;
    transform: scale(1);
    border: none;
}

#survey-form #more-comment{
    appearance: none;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid hsla(349, 78%, 51%, 0.89);
    border-radius: 0.25em;
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    resize: none;
}
#survey-form p{
    font-size: 1.1em;
    font-weight: 400;
}

#btn{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
}
#submit {
    position: inherit;
    height: auto;
    width: auto;
    font-size: 1em;
    padding: 16px 32px;
    background-color:#FFF;
    box-sizing: border-box;
    border: 2px solid #f7c214;
    border-radius: 0.25em;
    color: #000;
    transform: translateY(-4px);
}

#submit:hover{
    background-color:#f7c214;
    color: #FFF;
    transition: 100ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

#submit:active{
    box-shadow: 0 1px #755a00;
    transform: translateY(2px);
}

@media(max-width: 850px){
    header {
        position: relative;
        width: 80%;
        height: auto;
        top: 10px;
    }
    #survey-form {
        position: relative;
        height: auto;
        width: 80%;
        margin: 30px auto;
    }
}
@media(max-width: 590px){
    #survey-radio-btn, #survey-checkbox{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
    }
    #survey-radio-btn > p, #survey-checkbox > p{
        display: grid;
        grid-column: 1/2;
        width: auto;
        
    }

}
@media(max-width: 300px){
    #survey-radio-btn > label, #survey-checkbox > label{
        padding-left: 25px;
    }
    #survey-radio-btn .checkmark, #survey-checkbox input {
        left: 0;
    }
}