@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root { 
    --high-color: #FE327B;
    --low-color: #F7AEC8;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 100%;
}
#header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-height: 40px;
    background-color: rgba(30,30,30,0.6);
    backdrop-filter: blur(5px);
    z-index: 999;
}

#header-img{
    display: flex;
    justify-self: flex-start;
    width: auto;
    height: 80px;
    margin: 10px 0 0 50px;
    z-index: 998;
}
#nav-bar{
    display: flex;
    /* align-self: center; */
    justify-content: flex-end;
    width: 100%;
    height: auto;
    top: 0;
    margin-right: 50px;
    z-index: 997;
}

.nav-link{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-inline: 10px;
    height: 100%;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    transition: ease-in-out 200ms;
    border-color: #000;
    
}
.nav-link:active{
    color: var(--high-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    
}
.nav-link:hover {
    background-color: var(--high-color);
    border-bottom: 3px solid #000;
}
#main-container{
    width: 100%;
    height: auto;
}
#hero-container{
    width: 100%;
    height: auto;
}
#hero-banner{
    width: 100vw !important;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
    object-position: 50% 20%;
}

#hero-text {
    position: absolute;
    top: 155px;
    left: 70px;
    color: #FFF;
}
#hero-title {
    width: 500px;
    height: auto;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#hero-description{
    width: 500px;
    height: auto;
    margin-block: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-block: 20px;
}
#form > label{
    margin: 5px;
}
#email {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    padding: 5px 0 5px 10px;
    border-color: #ffc9dc;
    border: none;
    border-bottom: 2px solid #000;
    background-color: rgba(30,30,30,0.8);
    backdrop-filter: blur(3px);
    margin: 10px 0 10px 0;
    color: #FFF;
}
#email:focus{
    border-width: 4px;
}
.hero-btn{
    width: auto;
    height: auto;
    max-width: 200px;
    margin: 20px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    padding: 18px;
    border-radius: 65px;
    transition: ease-in 100ms;
}
.primary-btn:hover{
    box-shadow: 0px 0px 2.81818px 6.34091px #FF5793, inset 0px -5.63636px 2.81818px 4.93182px rgba(0, 0, 0, 0.25);
    border-radius: 64.2487px;
    transition: ease-in-out 200ms;
}
.secondary-btn:hover{
    box-shadow: 0px 0px 2.82px 6.34px rgba(0, 0, 0, 0.25), inset 0px -7px 3.2654px 5.71446px rgba(0, 0, 0, 0.25);
    transition: ease-in-out 200ms;
}
.hero-btn:active {
    transform: translateY(3px);
}
.primary-btn{
    box-shadow: 0px 0px 2.81818px 6.34091px #FF5793;
    background-color: var(--high-color);
    color: #FFF;
}

.secondary-btn {
    box-shadow: 0px 0px 2.82px 6.34px rgba(0, 0, 0, 0.25);
    background-color: #F7AEC8;
    color: #000;
    
}


#form > div{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    background-color: transparent;
    border-style: dashed;
    border-width: 2px;
    margin-block: 20px;
    text-align: center;
    z-index: 1;
}
#form > div > p{
    position: absolute;
    width: 30%;
    height: auto;
    top: -25px;
    z-index: 2;
    background-color: rgba(30,30,30, 1);
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
}


/* 2nd page */
.container{
    margin: 30px 100px;
}
#version-selection{
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.version{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #FFF;
    margin: 30px;
    border-radius: 0 0 10px 10px;
    border: 5px solid var(--high-color);
    text-align: center;
    transition: ease-in 200ms;
}

.version:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 32.7%;
    height: 100%;
    transform: scale(0.9);
    top: 0;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(315deg, #fe327b 0%, #7ee8fa 74%);
    background-size: 400% 400%;

    -webkit-animation: ColorWheel 3s ease infinite;
    -moz-animation: ColorWheel 3s ease infinite;
    animation: ColorWheel 3s ease infinite;
    transition: ease-in 200ms;
}

.version:hover:before{
    opacity: 1;
}
.version:hover .hero-btn {
    transform: scale(1.1);
}
.version:hover{
    border: none;
}
.version-title{
    width: 100%;
    height: auto;
    padding-block: 20px;
    background-color: var(--high-color);
    color: #FFF;
}
.version-description{
    height: auto;
    width: 100%;
}
.version-inclusion{
    text-align: left;
    padding-left: 10px;
}
.version-description li {
    width: 100%;
    text-align: left;
}
.version .primary-btn{
    height: auto;

}
#track-list{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: auto;
}
#disc-img{
    position:relative;
    display: block;
    width: 100%;
    height: auto;
    max-width: 15vw;
}
#disc-img:hover{
    background: linear-gradient(315deg, #fe327b 0%, #7ee8fa 74%);
    animation: rotate 1s ease-in-out infinite, ColorWheel 3s ease infinite;
    border-radius: 60%;
    background-size: 400% 400%;
    padding: 3px;
}
#track-list-title{
    position: relative;
    width: auto;
    height: auto;
    text-transform: uppercase;
    text-align: center;
}
#list{
    position: relative;
    width: auto;
    columns: auto 2;
}
#list li{
    width: auto;
    text-align: left;
    padding: 10px;
}

#online-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

#content-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#content-nav > a{
    text-decoration: none;
    color: #000;
}
#content-nav > a:hover {
    color: var(--low-color);
    transform: scale(1.1);
}
#content-nav > a:active {
    color: var(--high-color);
    border-bottom: var(--high-color) 3px solid;
}
#content-nav > a:active ~ a{
    color: #000;
    border-bottom: none;
}
#content-nav > a:nth-child(1){
    color: var(--high-color);
    border-bottom: var(--high-color) 3px solid;
}
#content-video{
    display: block;
    width: auto;
    max-width: 66vw;
    height: auto;
    max-height: 68vh;
    object-fit: cover;
    object-position: 50% 50%;
    scroll-margin-top: 150px;
}
#content-photos {
    position: relative;
    display: none;
    flex-direction: row;
    width: 100%;
    height: auto;
    left: 0;
    scroll-margin-top: 150px;
}

#content-photos .teaser-image{
    position: relative;
    display: none;
    width: auto;
    max-width: 66vw;
    height: auto;
    max-height: 68vh;
    object-fit: cover;
    object-position: 50% 50%;
    margin: auto;
}
#content-photos .teaser-image:nth-child(1){
    display: block;
    margin: auto;
}

.carousel-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    background-color: rgb(95, 94, 94);
    border-radius: 50%;
    border: none;
}
.carousel-btn:hover{
    box-shadow: -1px 3px 2px 0 rgba(146, 145, 145, 0.7);
    transform: translateY(-1px);
}
.carousel-btn:active{
    box-shadow: -1px 1px 2px 0 rgba(146, 145, 145, 0.7);
    transform: translateY(1px);
}
#previous{
    left: 0;
}
#next{
    left: 100%;
}


h1 {
    font-size: 2.5rem;
    margin: 0;
}
h2 {
    font-size: 2rem;
    margin: 0;
}
h3 {
    font-size: 1.8rem;
}
p, ul, li{
    font-size: 1em;
}

input{
    font-size: 1em;
}

/* 
@media(max-height: 560) */


@-webkit-keyframes ColorWheel {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ColorWheel {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ColorWheel {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}